
<div class="container">
 <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <div class="edit-form">


<h2>Edit Profile</h2>

<br>


<%= simple_form_for @user, url: profile_path(@user) do |f| %>
 <%= f.input :first_name, input_html: { placeholder: "First Name" } %>
 <%= f.input :last_name, input_html: { placeholder: "Last Name" } %>
 <%= f.input :linkedin, input_html: { placeholder: "Linkedin URL" }%>
 <%= f.input :twitter, input_html: { placeholder: "Twitter URL" }%>
  <%= f.input :facebook, input_html: { placeholder: "Facebook" }%>
    <%= f.input :phonenumber, input_html: { placeholder: "Mobile Number" }%>
 <%= f.input :info, as: :text, input_html: { placeholder: "About Me" }%>

 <%= f.input :photo, as: :attachinary %>
 <br>

 <%= f.submit "Update your public profile", class: "btn btn-primary"%>
<% end %>

</div>
  </div>
</div>
</div>
</div>

<br>
