<div class="container-fluid not-padded">
  <div class="col-xs-12 col-md-12  not-padded ptopleft">
    <% if @user.spaces.any? && @user.spaces.last.photos.any? && @user.spaces.last.photos.first %>
    <% photo_url = cl_image_path(@user.spaces.last.photos.first.path) %>
    <% else %>
    <% photo_url = image_path("wework2.jpg") %>
    <% end %>
    <div class="bg" style="background-image: linear-gradient(rgba(39,40,34,0),rgba(39,40,34,1)), url(<%= photo_url %>); height: 300px;">
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

<div class="profile-card">




 <div class="aboutme">
      <h3>  <%= avatar_for_user_show(@user) %> About me:</h3>
      <hr>
      <% if @user.info? %>
      <p><%= @user.info %></p>
      <% end %>
    </div>




<div class="socialmedialist">
          <ul class="list-inline">
            <% if @user.twitter? %>
            <li class="twittericon"> <%= link_to "http://twitter.com/#{@user.twitter}" do %>
              <i class="fa fa-twitter  fa-2x" aria-hidden="true"></i>
              <% end %>
            </li>
            <% end %>
            <!-- end twitter -->
            <% if @user.linkedin? %>
            <li class="linkdinicon"> <%= link_to @user.linkedin do %>
              <i class="fa fa-linkedin  fa-2x" aria-hidden="true"></i>
              <% end %>
            </li>
            <% end %>
            <!-- end linkden -->
            <% if @user.facebook? %>
            <li ><%= link_to "http://facebook.com/#{@user.facebook}", class: "fb" do %>
              <i class="fa fa-facebook  fa-2x" aria-hidden="true"></i>
              <% end %>
            </li>
            <% end %>
          </ul>

        </div>




           <div class="emailnumber">
          <ul class="list-inline socialmedialist">
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> : <%= @user.email %> </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> : <%= @user.phonenumber %></li>
            <li></li>
          </ul>
        </div>



       </div>
    </div>





<!-- host spaces start -->


<div class="col-xs-12 col-md-8 col-md-offset-2">

<div class="profile-card">


<h1>Host Spaces</h1>


<div class="row">
    <% if @user.spaces.empty? %>
      <h3 class="text-center">No space with your facilities :(</h3>
    <% end %>
    <% @user.spaces.each do |space|  %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 not-padded">
         <div class="hovereffect">

            <div class="space-card">
              <div class="image1" style="background-image: linear-gradient(rgba(39,40,34,0),rgba(39,40,34,1)), url(<%= cl_image_path space.photos.first.path %>);">


             <div class="cardtitle"><h3><%= space.company_name %></h3></div>
             <div class="cardindustry">
              <p><%= space.industry %></p>
              </div>

                    <div class="overlay">
                        <ul class="list-inline ulcard">
                         <li><i class="fa fa-twitter  fa-2x" aria-hidden="true"></i></li>
                         <li><i class="fa fa-facebook-square  fa-2x" aria-hidden="true"></i></li>
                       </ul>
                       <p class="pinfo"><%= space.company_info.split(" ")[0..15].join(" ") %>...</p>

                       <%= link_to "View", space, class: "info" %>
                    </div>

                </div>
            </div>
          </div>
      </div>
    <% end %>
</div>
</div>

</div>



  </div>
</div>




























