<div class="newspacewrapper" id="new-booking-form">
  <div class="toppic">
    <h1>Book This Desk </h1>
    <p>Enter your booking details below.</p>
  </div>
  <hr>

  <div class="form-inputs">
    <div class="add-form">
      <h4 class="text-center">Booking Period</h4>
      <%= simple_form_for [@space, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.association :table, collection: @space.tables %>
      <div class="form-group">
        <span>From:</span>
        <div class='input-group date' id='bookingdate-from'>
          <%= f.input :duration, label: false %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <span>To:</span>
        <div class='input-group date' id='bookingdate-to'>
          <%= f.input :duration, label: false %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <hr>

      <h4 class="text-center">Booking Summary</h4>
      <p><%= @space.address %></p>

      <p>This is a placeholder</p>
      <p>It will cost £100</p>

      <div class="form-actions">
        <%= f.submit "Book now", {class: "btn btn-primary" } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
