  <div class="newspacewrapper" id="new-booking-form">
  <div class="form-inputs">
    <div class="add-form">
      <h3 class="text-center">Book a Desk</h3>
      <%= simple_form_for [@space, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.association :table, required: true, collection: @space.tables.map{|t| ["Desk number: #{t.id}", t.id, data: { price: t.price }] }  %>

      <div class="form-group">
        <span>From:</span>
        <div class='input-group date' id='bookingdate-from'>
          <input type="text" required class="input-sm form-control" name="booking[start]" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <span>To:</span>
        <div class='input-group date' id='bookingdate-to'>
         <input type="text" required class="input-sm form-control" name="booking[end]" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <hr>

      <h4 class="text-center">Booking Summary</h4>
      <p><%= @space.address %></p>


      <p>TOTAL COST:  £<span id='booking-price'>0</span></p>

      <div class="form-actions">
        <%= f.submit "Book now", {class: "btn btn-primary" } %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
  $(function() {
    // UPDATE TOTAL BOOKING PRICE
    $('#new_booking .form-control').on('change', function(){
      var start = $('#bookingdate-from').datepicker('getDate');
      var end = $('#bookingdate-to').datepicker('getDate');
      var tablePrice = $('#booking_table_id option:selected').data('price');

      if (start && end) {
        nbDays = (end - start) / (24 * 60 * 60 * 1000)
        if (nbDays > 0 && tablePrice) {
          $('#booking-price').html
          bookingPrice = nbDays * tablePrice;
          $('#booking-price').html(bookingPrice);
        }
      }
    });

    // BOOKING FORM STICKY
    var initTop = $('#new-booking-form').offset().top;
    var initWidth = $('#new-booking-form').width() + 40; // 20 + 20 for padding
    var initRight = $('#new-booking-form').offset().right;

    $(window).scroll(function() {

      if($(window).width() >= 768 && $('#new-booking-form')) {
        var currentScroll = $(window).scrollTop();

        if (currentScroll < initTop) {
          $('#new-booking-form').css({
            position: 'static',
            width: initWidth
          });
        } else {

          $('#new-booking-form').css({
            position: 'fixed',
            top: 0,
            right: initRight,
            width: initWidth
          });
        }
      }
    });

    // DATETIME PICKER INIT
    $('#bookingdate-from').datepicker({
      format: "dd/mm/yyyy",
      autoclose: true,
      todayHighlight: true
      // defaultDate: new Date(),
      // disabledDates: [],
      // sideBySide: true,
      // minDate: new Date(),
    });

    $('#bookingdate-to').datepicker({
      format: "dd/mm/yyyy",
      autoclose: true,
      todayHighlight: true,
      useCurrent: false
      // defaultDate: new Date(),
      // disabledDates: [],
      // sideBySide: true,
      // minDate: new Date(),
      // useCurrent: false,
    });

    // LINKED DATETIMEPICKERS
    // $("#bookingdate-from").on("dp.change", function (e) {
    //   console.log("test");
    //   $('#bookingdate-to').data("DateTimePicker").minDate(e.date);
    // });
  });
  </script>
<% end %>
