
<div class="newspacewrapper">

  <div class="toppic">
    <h1>Add Space </h1>
    <p>


      please enter your details below, if you have questions you can reach us using the link provided.</p>
      <hr>
    </div>

    <div class="add-form">
      <%= simple_form_for(@space) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

       <%= f.input :company_name, input_html: { placeholder: "Company name", class: 'form-control input-lg' } %>
       <%= f.input :address , as: :string, input_html: { placeholder: "Address", class: 'form-control input-lg', :cols => 5, :rows => 4 } %>

<%= f.input :city, :input_html => {  placeholder: "City", :cols => 5, :rows => 10 } %>




       <%= f.input :industry, :input_html => { placeholder: "Industry", class: 'input-lg' }, collection: Space::INDUSTRYLIST %>
       <%= f.input :company_info, :input_html => {  placeholder: "A short introduction about your company", :cols => 5, :rows => 10 } %>

        <div class="row text-center">
         <% Space::AMENITIES.each do |title|%>
         <div class="col-xs-12 col-sm-4">
           <div class="form-group boolean optional space_cafe_restaurant">
            <div class="checkbox">
              <input class="boolean optional" type="hidden" value="0" name="space[<%= title %>]" id="space_<%= title %>">
              <label class="boolean optional" for="space_<%= title %>">

              <%= title.tr('_', ' ').capitalize %>
              </label>
            </div>
          </div>
         </div>
         <% end %>
        </div>

      <%= f.input :photos, as: :attachinary, required: true %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, {class: "btn btn-primary" } %>
    </div>
    <% end %>
  </div>
</div>


<%= content_for :after_js do %>
<script>
  $('.checkbox').click(function() {
    $(this).toggleClass('active');
  })
</script>
<% end %>





