
<div class="newspacewrapper">

  <div class="toppic">
    <h1>Add your Space </h1>
    <p>
      please enter your details below, if you have questions you can reach us using the link provided.</p>
      <hr>
    </div>

    <div class="add-form">
      <%= simple_form_for(@space) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

       <%= f.input :company_name, input_html: { placeholder: "Company name", class: 'form-control input-lg' } %>
       <%= f.input :address , as: :string, input_html: { placeholder: "Address", class: 'form-control input-lg' } %>
        <%= f.input :city, :input_html => {  placeholder: "City", class: 'form-control input-lg'} %>


       <%= f.input :industry, :input_html => { placeholder: "Industry", class: 'input-lg' }, collection: Space::INDUSTRYLIST, prompt: "Which industry are you in?" %>
       <%= f.input :company_info, :input_html => {  placeholder: "A short introduction about your company", :cols => 5, :rows => 10 } %>

        <div class="row text-center">
         <% Space::AMENITIES.each do |title|%>
         <div class="col-xs-12 col-sm-4">
            <label class="boolean optional checkbox-amenity <%= @space[title] ? 'active' : ''  %>" for="space_<%= title %>">
              <input class="hidden" type="checkbox" <%= @space[title] ? 'checked' : ''  %> value="<%= title %>" name="space[amenities][]" id="space_<%= title %>">
              <%= title.tr('_', ' ').capitalize %>
              <i class="fa fa-check"></i>
            </label>
         </div>
         <% end %>
        </div>

      <%= f.input :photos, as: :attachinary, required: true %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, {class: "btn btn-primary", style: "padding: 20px; width:100%;" } %>
    </div>
    <% end %>
  </div>
</div>


<%= content_for :after_js do %>
<script>
  $('.checkbox-amenity input').click(function() {
    $(this).parent().toggleClass('active');
  })
</script>
<% end %>





