
<div class="col-xs-12 col-md-8 not-padded">
  <div class="results-container">
    <% if spaces.empty? %>
      <h3 class="text-center">No space with your facilities :(</h3>
    <% end %>
    <% spaces.each do |space|  %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 not-padded">
         <div class="hovereffect">

            <div class="space-card">
              <div class="image1" style="background-image: linear-gradient(rgba(39,40,34,0),rgba(39,40,34,1)), url(<%= cl_image_path space.photos.first.path %>);">


             <div class="cardtitle"><h3><%= space.company_name %></h3></div>
             <div class="cardindustry">
              <p><%= space.industry %></p>
              </div>

                    <div class="overlay">
                        <ul class="list-inline ulcard">
                         <li><i class="fa fa-twitter  fa-2x" aria-hidden="true"></i></li>
                         <li><i class="fa fa-facebook-square  fa-2x" aria-hidden="true"></i></li>
                       </ul>
                       <p class="pinfo"><%= space.company_info.split(" ")[0..15].join(" ") %>...</p>

                       <%= link_to "View", space, class: "info" %>
                    </div>

                </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>

