<div class="topfilter">
  <div class="container">
    <h2 class="text-center" style="font-size: 19px;font-weight: bold;">Facilities</h2>
    <%= form_tag spaces_path, method: :get, remote: true, id: "filter-form" do %>
      <div class="amenities">
      <% Space::AMENITIES.each do |title|%>
        <label class="boolean text-center optional checkbox <%= (params[:amenities] && params[:amenities].include?(title)) ? "active" : "" %>" for="space_<%= title %>">
          <div>
            <input class="hidden" type="checkbox" value="<%= title %>" name="amenities[]" id="space_<%= title %>" <%= (params[:amenities] && params[:amenities].include?(title)) ? "checked" : "" %>>
            <%= title.tr('_', ' ').capitalize %>
            <p><i class="fa fa-check"></i></p>
          </div>
        </label>
      <% end %>
      </div>
      <%= hidden_field_tag :location, params[:location] %>
      <%= hidden_field_tag :radius, params[:radius] %>
      <%= hidden_field_tag :industry, params[:industry] %>
    <% end %>
  </div>
</div>

<div id="index-results">
  <%= render "index_results" %>
</div>






