<div class="banner"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= @space.name %></h1>
          <h4><%= @space.address %></h4>

          <h3> A Bit About This Space....</h3>
          <p> <%= @space.company_info %> </p>
        </div>
      </div>

      <div class="container-fluid" id="wrap">

      <ol class="list list-inline">
        <li><i class="fa fa-keyboard-o fa-fw" aria-hidden="true"></i>hotdesk</li>
          <li><i class="fa fa-coffee fa-fw" aria-hidden="true"></i> Industury<%= @space.industry%>
</li>
            <li><i class="fa fa-usd fa-fw" aria-hidden="true"></i> Price</li>
            </ol>
      </div>


              <div class="row">
                <div class="image_flex">
                  <div class="banner-medium"></div>
                  <div class="banner-medium"></div>
                </div>

              </div>

              <div class="row">
                <div class="image_flex">
                  <div class="banner-small"></div>
                  <div class="banner-small"></div>
                  <div class="banner-small"></div>
                  <div class="banner-small"></div>
                </div>
              </div>

              <div class="row text-center">
                <div class="col-xs-6">
                  <h3>Your Host</h3>
                  <img src="https://unsplash.it/400/300" alt="user" class="avatar-bordered">
                  <br>
                <%= @space.name %>

                  <br>
                  Apple Inc
                  <br>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>

                </div>
                <div class="col-xs-6">
                  <button class="accordion">About <%= @space.name %></button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>

                  <button class="accordion">What's available?</button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>

                  <button class="accordion">Terms & Conditions</button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-4">
            <%= render "booking_form" %>

            </div>
          </div>
        </div>
