<div class="dwrapper">
  <div class="container">
    <div class="row">
      <!-- first paragraph -->
      <div class="col-xs-12 col-md-4">
       <h3> <strong style="text-transform: capitalize; "> <%= current_user.first_name %> <%= current_user.last_name %></strong></h3>

       <% if @user.photo? %>
       <%= cl_image_tag @user.photo.path, class: 'avatar-large' %>
       <% end %>


       <ul class="list-inline">
        <li> <%= link_to edit_profile_path(current_user) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile
        </li> <% end %>
      </ul>
    </div>

    <ul>
      <li>Email: <%= current_user.email %></li>
      <li>Date Joined: <%= current_user.created_at %></li>
    </ul>
  </div>
</div>
</div>


<!-- storages listing-->
<div class="container">
  <div class="row">

    <h4><strong>My Listings</strong></h4>

    <% current_user.spaces.each do |space| %>
    <div class="col-xs-12 col-md-4">
      <div class="card" style="background-image: url('<%= cl_image_path space.photos.first.path, height: 300, width: 400, crop: :fill %>');">
        <h3><strong><%= space.company_name %></strong></h3>

        <br>
        <br>
        <br>
        <div class="card-description">
         <p><%= space.industry %></p>
         <p><%= space.company_info.split(" ")[0..15].join(" ") %></p>
       </div>
       <%= link_to "#", space, class: "card-link" %>
     </div>
     <ul class="list-inline">

       <li>
        <%= link_to edit_space_path(space) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>

        <%= link_to space, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>

      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

</div>
</div>

<br>
<br>


<!-- bookings listing-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h4><strong>My Bookings</strong></h4>
      <% current_user.bookings.each do |book| %>
      <div class="col-xs-12 col-md-4">
        <div class="bcard" style="background-image: url('<%= cl_image_path book.table.space.photos.first.path, height: 300, width: 400, crop: :fill %>');">
          <h1>hello</h1>

        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

