
<div class="container-fluid not-padded">

    <!-- first paragraph -->
    <div class="col-xs-12 col-md-12 -fluid not-padded" >
      <div class="wrapperdashtop" style="background-image: linear-gradient(rgba(39,40,34,0),rgba(39,40,34,1)), url(<%= image_path 'wimbledon2.jpg' %>);">
      </div>
    </div>


    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="storagedash show-flexbox">
         <div class="owner-div">
          <%= avatar_for_user_dashboard(@user) %>
          <h3 class="dashh"><%= current_user.first_name %> <%= current_user.last_name %></h3>
          <h5 class="dashh"><%= link_to "Edit profile", edit_profile_path(current_user) %></h5>
          </div>
        </div>


        <div class="dash-card">
          <h1>Booking History</h1><hr>
          <div class="row">
          <% current_user.bookings.each do |book| %>
          <div class="col-xs-12 col-md-6">
            <div class="card-dash-history">
             <%= cl_image_tag book.table.space.photos.first.path %>
             <div class="container-dash">
              <h4><b><%= book.table.space.company_name %></b></h4>
              <p><%= book.table.space.industry %></p>
             <div class="cardbtn"> <%= link_to "Write Review", "#", class: "btn btn-primary" %>  <%= link_to "View Invice", "#", class: "btn btn-primary" %></div>
            </div>
          </div>
        </div>
        <% end %>
        </div>
      </div>






</div>













