<header class="header clearfix">
  <div class="left">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", height: 100; %>
      <% end %>
    </div> <!-- end .logo -->
    <form action="/spaces" class="header-search">
      <input type="text" placeholder="I’m searching for ...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div> <!-- end .left -->
  <div class="navigation clearfix">
    <nav class="main-nav">
      <ul class="list-unstyled">
        <li class="menu-item-has-children">
          <%= link_to "Spaces", spaces_path %>
        </li>
        <li class="menu-item-has-children">
    <%= link_to "About us", about_path %>
        </li>

        <li class="menu-item-has-children">
    <%= link_to "Contact us", "#" %>
        </li>
      </ul>
    </nav> <!-- end .main-nav -->
    <a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
  </div> <!-- end .navigation -->
  <div class="right">
  <% if current_user %>
    <%= link_to "Dashboard", dashboard_path, class: "button border" %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button login-open" %>
  <% else %>
    <%= link_to "Add Listing", new_space_path, class: "button border" %>
    <%= link_to "Log In", new_user_session_path, class: "button login-open" %>
  <% end %>
  </div> <!-- end .left -->
</header> <!-- end .header -->
<div class="responsive-menu">
  <a href="" class="responsive-menu-close"><i class="fa fa-times"></i></a>
  <nav class="responsive-nav">
  </nav> <!-- end .responsive-nav -->
</div>
<!-- end .responsive-menu -->
