<div class="Alpha-Container">
  <div class="Beta-Container">
    <div class="row">
      <div style="text-align: center;">

        <div class="col-xs-2">
          <h4><b>The Team</b></h4>
          <p> <%= image_tag 'fahad.jpg', class: 'avatar-large' %> </p>

          <strong>Fahad</strong>
          <p>Founding Partner</p>


          <p> <%= image_tag 'harry.jpg', class: 'avatar-large' %> </p>
          <strong>Harry</strong>
          <p> Senior Partner </p>

          <p> <%= image_tag 'kit.jpg', class: 'avatar-large' %> </p>
          <strong>Kit</strong>
          <p> Senior Partner </p>

          <p> <%= image_tag 'ralph.jpg', class: 'avatar-large' %> </p>
          <strong>Ralph</strong>
          <p> Senior Partner </p>
        </div>
      </div>

      <div class="col-xs-10">

        <h1>About us</h1>

          <p> We know how difficult it is to find a home for our companies and how hard it is to build the perfect commuity in our spaces.

          the perfect commuity in our spaces. Hubble is an online marketplace to match those looking to rent office space with those who have it. </p>


          <p>We understand that we spend most of our waking hours in our workplaces; they are our “second home” and absolutely critical to our success. It really really annoys us that it’s such a frustrating process to find the perfect office and attract the ideal tenants to your space.</p>

          <p>We also got thinking about how much empty space there was in the offices all around us. Surely there were people within walking distance who would be willing to rent available desks and surplus space for a reasonable price?</p>

          <p>Our mission is to provide the simplest way to find & create the perfect home to grow our businesses, nurture our cultures and build our communities.</p>

          <br>

          <h3> WHAT IS IT? </h3>

          <p>Our mission is to provide the simplest way to find & create the perfect home to grow our businesses, nurture our cultures and build our communities.</p>


          <p>We’re not an agent. We’re not a broker. We’re just a group of founders extremely passionate about creating an incredible experience around finding and building work environments.</p>

          <p>Hubble makes it easy for you to find a new home for your company, whether you're a small, growing team or a larger business looking for something bigger. We have plenty of options for individuals and freelancers too</p>

          <p>It's easy: We'll match you to someone nearby, so no long schleps across town!</p>

        </div>
      </div>
    </div>

    <div><%= link_to 'Back', root_path %></div>
  </div>
