



<div class="container">
  <div class="row">
  <div style="text-align: center;">

    <div class="col-xs-2">
     <p> <%= image_tag 'fahad.jpg', class: 'avatar-large' %> </p>

     <strong>Fahad</strong>
     <p>Founder</p>

     <p> <%= image_tag 'harry.jpg', class: 'avatar-large' %> </p>
     <strong>Harry</strong>

     <p> <%= image_tag 'kit.jpg', class: 'avatar-large' %> </p>
     <strong>Kit</strong>

     <p> <%= image_tag 'ralph.jpg', class: 'avatar-large' %> </p>
     <strong>Ralph</strong>
</div>
   </div>
   <div class="col-xs-10">

 <h1>About us</h1>
        <p> We know how difficult it is to find a home for our companies and how hard it is to build the perfect commuity in our spaces. Hubble is an online marketplace to match those looking to rent office space with those who have it.  </p>


          <p>We believe that we are all a product of our environment; our workspaces should suit the personality of our businesses. By personality, we don't just mean the architecture, furniture and decoration. We also mean the people and ideas that surround us.</p>

          <p>We believe that we are all a product of our environment; our workspaces should suit the personality of our businesses. By personality, we don't just mean the architecture, furniture and decoration. We also mean the people and ideas that surround us.</p>

          <p>Once you've decided on an office, let us know!</p>
     
          <h3> WHAT IS IT?</h3>

          <p>We are a community marketplace where people can book office space in the homes, passionate about creating an incredible experience around finding and building work environments.</p>

          <p>makes it easy for you to find a new home for your company, whether you're a small, growing team or a larger business looking for something bigger.</p>

          <p>Our mission is to provide the simplest way to find & create the perfect office environment to grow your businesses, nurture our cultures and build our communities.</p>

          <p>With a simple search it's easy: We'll match you to someone nearby, so no long schleps across town.</p>

    </div>

<%= link_to 'Back', root_path %>
