
<br>
<br>

<br>
<br>

<div class="container">
  <div class="row">
  <div style="text-align: center;">

    <div class="col-xs-2">
     <p> <%= image_tag 'fahad.jpg', class: 'avatar-large' %> </p>

     <strong>Fahad</strong>
     <p>Founder</p>


     <p> <%= image_tag 'harry.jpg', class: 'avatar-large' %> </p>
     <strong>Harry</strong>

     <p> <%= image_tag 'kit.jpg', class: 'avatar-large' %> </p>
     <strong>Kit</strong>

     <p> <%= image_tag 'ralph.jpg', class: 'avatar-large' %> </p>
     <strong>Ralph</strong>
</div>
   </div>
   <div class="col-xs-10">

    <h1>Contact Us</h1>
    <p>  </p><br>



      <p>Telephone: 0207 849 5812</p>

      <p>Fax: 0208 849 5812</p>

      <p>Telephone: 0207 849 5812</p>

      <p>We also got thinking about how much empty space there was in the houses, flats and buildings around us. Surely there were people within walking distance who would take great care of our stuff for a reasonable price?</p>

      <p>We wanted to store nearby, with people who cared about our stuff, without spending a load of cash. So we started RentStorage.</p>

      <br>



    </div>
  </div>
</div>








<%= link_to 'Back', root_path %>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
