<div class="section large transparent dark text-center" style="background-image: url('<%= image_path "googleoffice.jpg" %>');">
  <div class="inner">
    <div class="container">
      <h1>Find Workspace Within Your Industry</h1>
      <p class="lead">Find great places to work with local experts.</p>
      <form align="center">
        <div class="row" align="center">
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" placeholder="What are you looking for ?">
            </div> <!-- end .form-group -->
          </div> <!-- end .col-sm-4 -->
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" placeholder="Location">
              <i class="pe-7s-world"></i>
            </div> <!-- end .form-group -->
          </div> <!-- end .col-sm-4 -->
          <div class="col-sm-4">
            <div class="form-group">
              <select class="selectpicker" data-live-search="true">
                <option>All categories</option>
                <option>Digital</option>
                <option>Design'</option>
                <option>Creative</option>
                <option>Print</option>
                <option>Production</option>
                <option>Architecture</option>
              </select>
            </div> <!-- end .form-group -->
          </div> <!-- end .col-sm-4 -->
        </div> <!-- end .row -->
        <button type="submit" class="button">Search desks</button>
      </form>
      <div class="highlight-slider-wrapper">
        <div class="row">
        </div> <!-- end .inner -->
      </div> <!-- end .col-md-3 -->
    </div> <!-- end .row -->
  </div> <!-- end .text-center -->
</div> <!-- end .container -->


<div class="section-padded container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Our favourite spaces</h3>
    </div>
  </div>
  <div class="row">
    <% @spaces.each do |space| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to space_path(space) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path space.photos.first.path %>');">
        <%= avatar_for_user(space.user) %>
        <div class="card-description">
          <h2><%= space.company_name %></h2>
          <p><%= space.address %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<div class="section-padded" style="background-color: #DEDEDE;">
  <div class="container text-center">
    <h3>What is DeskJoy?</h3>
    <p>Discover how Deskjoy can you help you find workspace.</p>
    <div class="row features-deskjoy">
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "search.png" %>
          <h3>Find A Workspace</h3>
          <p>Looking for a creative workspace? We have you covered! Book a desk within your industry with DeskJoy.</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "table.png" %>
          <h3>Work with companies within your industry</h3>
          <p>Search and filter hundreds of listings, read reviews, explore photos and find the perfect desk.</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "users.png" %>
          <h3>Network with amazing people</h3>
          <p>Go, work hard and have a good time and expand your professional network, thanks to DeskJoy!</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</div> <!-- end .section -->


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1 section-padded">
      <h3> Why DeskJoy?</h3>
      <p>
        Share space with those in your industry. Founded in 2017 Deskjoy offers affordable deskspace within London. Network and grow your network with DeskJoy!
      </p>
      <br>

      <h4>"Deskjoy is awesome!"</h4>
      <h5>-John Doe-</h5>
      <h5>J Doe & Co</h5>

    </div>
    <div class="col-xs-12 col-md-5 text-center">
      <%= image_tag "man2.png", height: 395 %>
    </div>
  </div>
</div>
