<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "googleoffice.jpeg" %>');">
  <div class="images/google1.jpeg">
    <h1>Rent Desks From Companies In Your Industry</h1>
    <p>Book flexible work space today</p>
    <%= link_to "SHOW ME", spaces_path, class: "btn lg btn-primary" %>
  </div>
</div>
<h2 align="center">DeskJoy! Share a workspace within your industry!</h2>
<div class="container">
  <div class="row">
    <% @spaces.each do |space| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to space_path(space) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path space.photos.first.path %>');">
        <%= cl_image_tag space.user.photo.path, class: "card-avatar" %>
        <div class="card-description">
          <h2><%= space.company_name %></h2>
          <p><%= space.address %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div id="wrap">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <h3> Why DeskJoy?</h3>
        <p>
          Share space with those in your industry. Founded in 2017 Deskjoy offers affordable deskspace within London. Network and grow your network with DeskJoy!
        </p>
        <br>

        <h4>"Deskjoy is awesome!"</h4>
        <h5>-John Doe-</h5>
        <h5>J Doe & Co</h5>

      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <%= image_tag "man2.png", width: 400 %>
      </div>
    </div>
  </div>
</div>

<div class="banner_cta text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "google2.jpeg" %>');">
  <div class="https://unsplash.it/750/400/?random">
    <h1>Explore available workspace</h1>
    <p>Starting from just £15 per day</p>
    <%= link_to "Explore Spaces", spaces_path, class: "btn btn-primary" %>
  </div>

</div>
<div id="wrap">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6 text-center">
        <%= image_tag "jason.png", width: 400 %>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <h3> Some much choice!</h3>
        <p>
        Rent desk from others in your industry. We cater for everyone from graphic designers to fashionistas!
        </p>
        <br>

        <h4>"Deskjoy is sooo awesome!"</h4>
        <h5>-Some Guy-</h5>
        <h5> Supply & Co</h5>

      </div>
    </div>
  </div>
</div>


<div class="container banner-neutral">
  <h3>As featured in</h3>
  <div>
    <%= image_tag "The_Guardian.png", width: 230 %>
    <%= image_tag "techcrunch-logo.png", width: 230 %>
    <%= image_tag "blg-logo.gif", width: 230 %>
  </div>
</div>



