<div class="section large transparent dark text-center" style="background-image: url('<%= image_path "googleoffice.jpg" %>');">
  <div class="inner">
    <div class="container">
      <h1>Find Workspace Within Your Industry</h1>
      <p class="lead">Find great places to work with local experts.</p>
      <div class="row">

        <form action="<%= spaces_path %>" class="form-inline">
          <label for="location">Location:</label>
          <input type="text" name="location" required class="form-control" placeholder="London">

          <select name="radius" class="form-control">
            <option value="1">1 mile</option>
            <option value="3" selected>3 miles</option>
            <option value="5">5 miles</option>
            <option value="10">10 miles</option>
            <option value="20">20 miles</option>
          </select>

          <label for="industry">Industry:</label>
          <select name="industry" class="form-control">
            <option value="all">All</option>
            <% Space::INDUSTRYLIST.each do |industry| %>
            <option value="<%= industry %>"><%= industry %></option>
            <% end %>
          </select>
          <input type="submit" value="Search" class="btn btn-primary" style="background-color: #00b0ff">
        </form>

      </div> <!-- end .col-sm-4 -->
    </div> <!-- end .row -->
  </div> <!-- end .row -->
</div> <!-- end .text-center -->


<div class="section-padded container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Our favourite spaces</h3>
    </div>
  </div>
  <div class="row">
    <% @spaces.each do |space| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to space_path(space) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path space.photos.first.path %>');">
        <%= avatar_for_user(space.user) %>
        <div class="card-description">
          <h2><%= space.company_name %></h2>
          <p><%= space.address %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<div class="section-padded" style="background-color: #DEDEDE;">
  <div class="container text-center">
    <h3>What is DeskJoy?</h3>
    <p>Discover how Deskjoy can you help you find workspace.</p>
    <div class="row features-deskjoy">
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "search.png" %>
          <h3>Find A Workspace</h3>
          <p>Looking for a creative workspace? We have you covered! Share an office with people who inspire you with DeskJoy.</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "table.png" %>
          <h3>Share office space with companies in your industry!</h3>
          <p>Search hundreds of listings, read reviews, view photos and find the perfect desk.</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
      <div class="col-sm-4">
        <div class="services">
          <%= image_tag "users.png" %>
          <h3>Network with amazing people</h3>
          <p>Work hard, expand your professional network and have a good time, thanks to DeskJoy!</p>
        </div> <!-- end .services -->
      </div> <!-- end .col-sm-4 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</div> <!-- end .section -->


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1 section-padded">
      <h3> Why DeskJoy?</h3>
      <p>
        Share space with people in your profession. Choose to work in an environment that suits you. Expand your network and grow! DeskJoy offers you affordable deskspace in the beating heart of London.
      </p>
      <br>
      <h4>"Deskjoy is awesome!"</h4>
      <h5>-John Doe-</h5>
      <h5>J Doe & Co</h5>

    </div>
    <div class="col-xs-12 col-md-5 text-center">
      <%= image_tag "man2.png", height: 395 %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
<script>
  $( "select" ).select2({
    theme: "bootstrap"
  });
</script>
<% end %>
