

<div class="newtable">
<div class="toppic">
  <h1>Add Table </h1>
  <p>Please enter your details below, if you have questions you can reach us using the link provided.</p>
  <hr>
</div>

<div class="add-form">
  <%= simple_form_for([@space, @table]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :price, input_html: { placeholder: "Price", class: 'form-control input-lg' } %>
    <%= f.input :desk_type, :input_html => { placeholder: "Desk type", class: 'input-lg' } %>
    <%= f.input :available, label: 'Available from', :input_html => {class: 'input-lg' } %>
    <%= f.input :not_available, label: 'Available to', :input_html => { class: 'input-lg' } %>
  </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit, {class: "btn btn-primary" } %>
  </div>
  <% end %>

</div>
